.chatContainer {
  display: flex;
  align-items: center;
  /* justify-content: center; */
  /* margin: 0 auto; */
 }

.formContainer {
  width: 100%;
  max-width: 900px;
  height: 600px;
  flex-shrink: 0;
  border-radius: 50px;
  border: 1px solid #000;
  background: #0e1a47;
  /* margin: 0 auto; */
}

/* .main {
  display: flex;
} */

.chatUser {
display: flex;
justify-content: space-between;
width: 100%;
}

.sendButton {
  background: #007BFF;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 8px 15px;
  cursor: pointer;
}

.input {
  flex: 1;
  padding: 8px;
  border: none;
  border-radius: 5px;
  margin-right: 10px;
}

