/* Estilos para el componente GratitudeBox */
.container {
  width: 100%;
  max-width: 900px;
  /* height: 600px; */
  flex-shrink: 0;
  border-radius: 50px;
  border: 1px solid #000;
  background: #0e1a47;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0px 30px 30px 30px;
}

.boxContainer {
  width: 400px;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  margin-bottom: 20px;
  margin-left: 10px;
  border-radius: 30px;
  background: linear-gradient(180deg, #3953AE 0%, rgba(29, 50, 125, 0.00) 100%);
}


.cardContainer{
  display: flex;
  flex-wrap: wrap;
}

.notitaContainer{
  display: flex;
  flex-direction: column; 
}

.mainContainer {
    align-items: center;
    display: flex;
}

.containerTitle {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title{
  color: #FFF;
font-family: Roboto Mono;
font-size: 40px;
font-style: normal;
font-weight: 700;
line-height: normal;
}

.notaContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  }
  

.sendButton {
  background: #3953AE;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 8px 15px;
  /* cursor: pointer; */
  margin-right: 20px;
}

.input {
  flex: 1;
  padding: 8px;
  border: none;
  border-radius: 5px;
  margin-right: 10px;
  margin-left: 15px;
}

.textStyle{
color: #FFF;
font-family: Roboto Mono;
font-size: 20px;
font-weight: 700;
/* padding: 15px; */
/* font-style: normal; */
/* line-height: normal; */
}

.btnContainer{
  display: flex;
  /* margin-left: 10px; */
  color:#989CAD;
  font-size: 20px;
}

.icons{
  margin-left: 10px;
}


  