/* Estilos para el componente GratitudeBox */
.container {
  width: 100%;
  max-width: 900px;
  height: 600px;
  flex-shrink: 0;
  border-radius: 50px;
  border: 1px solid #000;
  background: #0e1a47;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px;
}

.boxContainer {
  display: inline-block;
  margin: 10px;
  cursor: pointer;
  width: 200px;
  height: 200px;
  border: 1px solid #ccc;
  background-color: #fff;
  padding: 10px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  position: relative; 
}

.cardContainer{
  display: flex;
}

.notitaContainer{
  display: flex;
  flex-direction: column;
}

.mainContainer {
    align-items: center;
    display: flex;
}

.containerTitle {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title{
  color: #FFF;
font-family: Roboto Mono;
font-size: 40px;
font-style: normal;
font-weight: 700;
line-height: normal;
}

.notaContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  }
  

.sendButton {
  background: #007BFF;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 8px 15px;
  cursor: pointer;
}

.input {
  flex: 1;
  padding: 8px;
  border: none;
  border-radius: 5px;
  margin-right: 10px;
}
/* 
.textStyle{
  color: #FFF;
font-family: Roboto Mono;
font-size: 30px;
font-style: normal;
font-weight: 700;
line-height: normal;
} */


  